{% extends "common/layouts/content.njk" %}

{% set title = "Page not found" %}

{% block columns %}
  <h1 class="govuk-heading-l">Page not found</h1>
  <p class="govuk-body">If you typed the web address, check it is correct.</p>
{% endblock %}
